                <form class="bg-red-700 w-full shadow-lg rounded-lg p-8 portrait:p-4" netlify enctype="multipart/form-data"  data-netlify="true" data-netlify-honeypot="field-of-expertise" name="newsletter" method="POST">
                    <div class="mb-4">
                        <label class="block text-white py-2 font-bold mb-2" for="emailaddress">
                            Signup for our newsletter
                        </label>
                        <input
                        class="shadow appearance-none border rounded w-full p-3 text-gray-700 leading-tight focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
                        id="emailaddress"
                        name="emailaddress"
                        type="email"
                        placeholder="you@somewhere.com"
                        />
                        <input
                        class="shadow appearance-none border rounded w-full p-3 text-gray-700 leading-tight focus:ring transform transition hover:scale-105 duration-300 ease-in-out hidden"
                        id="field-of-expertise"
                        name="field-of-expertise"
                        type="text"
                        placeholder="your occupation"
                        />
                    </div>

                    <div class="flex items-center justify-between pt-4">
                        <button
                        class="bg-gradient-to-r from-red-50 to-red-100 hover:from-red-300 hover:to-red-400 hover:text-white text-red-700 font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
                        type="submit"
                        >Sign Up</button>
                    </div>
                </form>
