---
import { Lightbox } from 'svelte-lightbox';
---

					<h4 class="text-red-600 unstyled drop-shadow text-md xl:text-md font-bold my-4" >Opening Speech HRH King Eze Boniface C. Unogu (Ishibo I) </h4>
					<Lightbox enableCloseButton="false" enableClickToClose="true" client:only="svelte">
						<div class="aspect-video w-full bg-black">
							<iframe class="w-full h-full" id="ytplayer" type="text/html"
  							src="https://www.youtube.com/embed/5kvQTpfshXU?autoplay=0&origin=https://artkidsfoundation.org/ohia-restoration/"
  							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      						allowfullscreen>
							</iframe>
						</div>
					</Lightbox>

					<h4 class="text-red-600 unstyled drop-shadow text-md xl:text-md font-bold my-4" >Interview with Eze Ezekwesiri Obioha </h4>
					<Lightbox enableCloseButton="false" enableClickToClose="true" client:only="svelte">
						<div class="aspect-video w-full bg-black">
							<iframe class="w-full h-full" id="ytplayer" type="text/html"
  							src="https://www.youtube.com/embed/kImDzcI3aqM?autoplay=0&origin=https://artkidsfoundation.org/ohia-restoration/"
  							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      						allowfullscreen>
							</iframe>
						</div>
					</Lightbox>

					<h4 class="text-red-600 unstyled drop-shadow text-md xl:text-md font-bold my-4" >Interview with Ezri Harmusial</h4>
					<Lightbox enableCloseButton="false" enableClickToClose="true" client:only="svelte">
						<div class="aspect-video w-full bg-black">
							<iframe class="w-full h-full" id="ytplayer" type="text/html"
  							src="https://www.youtube.com/embed/sup7XSQlY8U?autoplay=0&origin=https://artkidsfoundation.org/ohia-restoration/"
  							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      						allowfullscreen>
							</iframe>
						</div>
					</Lightbox>

					<h4 class="text-red-600 unstyled drop-shadow text-md xl:text-md font-bold my-4" >Interview with </h4>
					<Lightbox enableCloseButton="false" enableClickToClose="true" client:only="svelte">
						<div class="aspect-video w-full bg-black">
							<iframe class="w-full h-full" id="ytplayer" type="text/html"
  							src="https://www.youtube.com/embed/aoxb6GNcP6o?autoplay=0&origin=https://artkidsfoundation.org/ohia-restoration/"
  							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      						allowfullscreen>
							</iframe>
						</div>
					</Lightbox>

					<h4 class="text-red-600 unstyled drop-shadow text-md xl:text-md font-bold my-4" >Interview with Goodness Ihetu</h4>
					<Lightbox enableCloseButton="false" enableClickToClose="true" client:only="svelte">
						<div class="aspect-video w-full bg-black">
							<iframe class="w-full h-full" id="ytplayer" type="text/html"
  							src="https://www.youtube.com/embed/7bAeUNYEPNU?autoplay=0&origin=https://artkidsfoundation.org/ohia-restoration/"
  							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      						allowfullscreen>
							</iframe>
						</div>
					</Lightbox>

					<h4 class="text-red-600 unstyled drop-shadow text-md xl:text-md font-bold my-4" >Interview with Godwin Obioha</h4>
					<Lightbox enableCloseButton="false" enableClickToClose="true" client:only="svelte">
						<div class="aspect-video w-full bg-black">
							<iframe class="w-full h-full" id="ytplayer" type="text/html"
  							src="https://www.youtube.com/embed/njh3oz0oKzg?autoplay=0&origin=https://artkidsfoundation.org/ohia-restoration/"
  							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      						allowfullscreen>
							</iframe>
						</div>
					</Lightbox>