---
export let direction = "flex-row";
---

<img class="w-14 aspect-auto mr-2" alt="Igbo Cap" src="/images/igbocap.png" />
<span class={`landscape:hidden portrait:flex landscape:sm:flex ${direction} flex-nowrap text-nowrap`}>
Igbo<span class="bg-clip-text text-transparent bg-gradient-to-r from-red-400 via-red-500 to-red-600"> Restoration</span><span class="text-black hidden landscape:md:block">.org</span>
</span>